:root {
  /* color */
  --color-black: #3f454d;
  --color-white: #ffffff;
  --color-blue: #3b88c3;
  --color-yellow: #fbbe28;
  --color-pink: #fd7f84;
  --color-light-grey: #dfdfdf;
}
* {
  background-color: var(--color-black);
  margin:0;
  padding:0;
  box-sizing: border-box;
}
li{
  list-style:none;
}

.main_title{
  text-align: center;
}

.main_title img{
  width:150px;
  margin-top:200px;
}

.title{
  text-align:center;
  display:flex;
  justify-content: space-evenly;
}

.title .clothes{
  display: flex;
  align-items: center;
}

.title .clothes img{
  margin-right:20px;
}

.title .clothes div{
  display:flex;
  justify-content: center;
  align-items: center;
  margin-right:20px;
  border-radius:5px;
  width:90px;
  height:70px;
}

.title .clothes .blue{

  font-size:20px;
  background-color: var(--color-blue);
}

.title .clothes .yellow{

  font-size:20px;
  background-color: var(--color-yellow);
}

.title .clothes .pink{

  font-size:20px;
  background-color: var(--color-pink);
}



.list .clothes{
  display: flex;
  align-items: center;
  margin:0 auto;
  border-radius:5px;
  width: 700px;
  height:120px;
  margin-top:10px;
  background-color: var(--color-white);
}

.list .clothes img{
  margin-left:30px;
  background-color: var(--color-white);
}

.list .clothes span{
  margin-left:30px;
  font-size:20px;
  background-color: var(--color-white);
}


